* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    width: 100%;
}

header {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

main {
    display: block;
    width: 100%;
    background-color: #ffffff;
}

main .step {
    display: flex;
    width: 100%;
    background-color: #ffffff;
}

main .left {
    justify-content: flex-start;
}

main .right {
    justify-content: flex-end;
}

main .center {
    justify-content: center;
}

main .step .content {
    display: block;
    margin: 16px;
    padding: 16px;
    background-color: #ffffff;
}

main .step .content .title {
    display: flex;
    align-items: center;
}

main .step .content .title .box {
    width: 48px;
    height: 48px;
    background-color: #937ed9;
    margin: 16px;
    padding: 16px;
}

main .step .content .title .title_text {
    font-size: 36px;
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
}

main .step .content .text {
    margin-left: 16px;
    font-size: 24px;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: #3a3a3a;
}
